<!DOCTYPE html>
<html data-ng-app="occasionalidiot">
  <head>
    <title>Occasional Idiot options</title>
    <link rel="icon" type="image/png" sizes="16x16" href="images/icon-16.png">

    <link rel="stylesheet" href="occasionalidiot-options.css" />

    <script src="thirdparty/angular-1.3.13.min.js"></script>
    <script src="occasionalidiot-options.js"></script>

    <base href="/" /> 
  </head>
  
  <body>
    <header>
      <div class="logo"></div>
      <h1>Occasional Idiot</h1>
      <p>Browser plugin selectively hides your friends' posts when they're occasionally being idiots.</p>

      <div class="controlbar">
        <button class="deleteall" data-ng-click="deleteAll()">
          Delete all
        </button>
      
        <select data-ng-model="currentFriend"
            data-ng-options="friend as friend.name for friend in appFriends"></select>
      </div>
    </header>
    
    <article>
      <table class="triggerwords">
        <thead>
          <tr>
            <th class="friendname">Name</th>
            <th class="triggerword">Trigger word</th>
            <th class="controlcell"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr data-ng-repeat="word in appWords"
              data-ng-if="currentFriend == allFriend || word.friend == currentFriend.name">
            <td class="friendname">{{word.friend}}</td>
            <td class="triggerword">{{word.word}}</td>
            <td class="controlcell"><div class="delword" data-ng-click="deleteWord(word)"></div></td>
          </tr>
        </tbody>
      </table>
    </article>
    
    <footer>
      <div>
        <label>Homepage:</label>
        <a href="http://occasionalidiot.com">http://occasionalidiot.com</a>
      </div>
      <div>
        <label>Github:</label>
        <a href="https://github.com/omedalus/occasionalidiot">https://github.com/omedalus/occasionalidiot</a>
      </div>
      
      <div class="copyright">
        Copyright &copy; 2015 Mikhail Voloshin. All rights reserved.
      </div>
    </footer>
  </body>
</html>