body {
  color: #444;
  font-family: Arial;
  font-size: 16px;
  line-height: 22px;
  margin: auto;
  padding: 20px 0;
  width: 640px;
}

h1 {
  font-size: 40px;
  line-height: 60px;
  margin: 0;
  text-shadow: 1px 1px 0 #ccc;
}

header p {
  color: #888;
  font-weight: bold;
  margin-top: 10px;
}

.logo {
  background: url('images/icon-128.png');
  display: inline-block;
  float: left;
  height: 128px;
  margin-right: 20px;
  width: 128px;
}

article {
  clear: both;
  margin-top: 40px;
}

.controlbar select {
  font-size: 20px;
  width: 300px;
}

table {
  cursor: default;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 10px;
  width: 100%;
  -webkit-user-select: none;
}

th {
  background: silver;
  text-align: left;
  text-shadow: 1px 1px 0 white;
}

th, td {
  padding: 5px 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th.friendname {
  width: 300px;
}

tr:hover {
  background: lightcyan;
}

.delword {
  background: url('images/redx.png');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  visibility: hidden;
  width: 100%;
}

tr:hover .delword {
  visibility: visible;
}




