body {
  color: #444;
  font-family: Arial;
  font-size: 16px;
  line-height: 22px;
  margin: auto;
  padding: 20px 0;
  width: 640px;
}

h1 {
  font-size: 40px;
  line-height: 60px;
  margin: 0;
  text-shadow: 1px 1px 0 #ccc;
}

header {
  background: white;
  position: fixed;
  top: 0;
  width: 640px;
}

header p {
  color: #888;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 40px;
}

.logo {
  background: url('images/icon-128.png');
  display: inline-block;
  float: left;
  height: 128px;
  margin-right: 20px;
  width: 128px;
}

article {
  clear: both;
  margin-top: 160px;
}

.controlbar {
  margin-top: 30px;
  padding-bottom: 10px;
  width: 640px;
}

.controlbar select {
  font-size: 20px;
  width: 240px;
}

.controlbar .deleteall {
  float: right;
}

table.triggerwords {
  cursor: default;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 100px;
  margin-top: 10px;
  width: 100%;
  -webkit-user-select: none;
}

thead {
  position: fixed;
  width: 640px;
}

th {
  background: silver;
  text-align: left;
  text-shadow: 1px 1px 0 white;
}

th, td {
  padding: 5px 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.friendname {
  max-width: 200px;
  min-width: 200px;
  width: 200px;
}
.triggerword {
  max-width: 280px;
  min-width: 280px;
  width: 280px;
}
.controlcell {
  max-width: 40px;
  min-width: 40px;
  width: 40px;
}


tr:hover {
  background: lightcyan;
}

.delword {
  background: url('images/redx.png');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  visibility: hidden;
  width: 100%;
}

tr:hover .delword {
  visibility: visible;
}

footer {
  background: white;
  bottom: 0;
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 10px;
  padding-top: 40px;
  position: fixed;
  text-align: center;
  width: 640px;
}

footer label {
  font-weight: bold;
}

footer .copyright {
  color: #aaa;
  margin-top: 10px;
}


